# Variables de entorno
.env
.env.local
.env.production
.env.development

# Dependencias
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
